<div class="container-fluid">
  <div class="row">
      <div class="col-sm-auto bg-light sticky-top" id="sidebar">
          <div class="d-flex flex-sm-column flex-row flex-nowrap bg-light align-items-center sticky-top">
              <a href="/" class="d-block p-3 link-dark text-decoration-none" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only">
                  <i class="bi-bootstrap fs-1"><h1>cineFiled</h1></i>
              </a>
              <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center">
                  <li class="nav-item">
                      <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                          <i class="bi-house fs-1"> <button class="btn btn-primary">My Watchlist</button> </i>
                      </a>
                  </li>
                  <li>
                      <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
                          <i class="bi-speedometer2 fs-1"><button class="btn btn-danger">The cineFiles</button></i>
                      </a>
                  </li>
              </ul>
                  <a href="#" class="nav-link py-3 px-2 align-bottom" title="" data-bs-placement="bottom" data-bs-original-title="User">
                            <app-user></app-user>
                  </a>
          </div>
          

      </div>
      <div class="col-sm p-3 min-vh-100">
          <!-- content -->
      </div>
  </div>
</div>
